# Java
target/
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE
.idea/
*.iml
.vscode/

# JPackage output
java-fx-agent/ConnectoAgent/
java-fx-agent/crash.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
